<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
    <add key="Local Package Source" value="D:\nuviot\LocalPackages" />
    <add key="Local Private Package Source" value="D:\nuviot\LocalPrivatePackages" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <disabledPackageSources>
    <add key="VSTS Private Packages" value="true" />
  </disabledPackageSources>
</configuration>